.reset-padding {
  padding: 0; }
  .reset-padding::selection {
    border: none; }

header {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 100px;
  background: #004861;
  position: fixed;
  top: 0;
  z-index: 2; }
  header .cnt-menu {
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
    header .cnt-menu .lnk-menu {
      display: block;
      overflow: hidden;
      position: relative;
      width: 24px;
      height: 50px;
      cursor: pointer; }
      header .cnt-menu .lnk-menu span.bar1 {
        display: block;
        position: absolute;
        top: 10px;
        width: 24px;
        height: 4px;
        background: #fff;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      header .cnt-menu .lnk-menu span.bar2 {
        display: block;
        position: absolute;
        top: 18px;
        width: 24px;
        height: 4px;
        background: #fff;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease; }
      header .cnt-menu .lnk-menu span.bar3 {
        display: block;
        position: absolute;
        top: 26px;
        width: 24px;
        height: 4px;
        background: #fff;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      header .cnt-menu .lnk-menu:hover span.bar1 {
        top: 18px;
        -webkit-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -o-transform: rotate(50deg);
        transform: rotate(50deg); }
      header .cnt-menu .lnk-menu:hover span.bar2 {
        opacity: 0; }
      header .cnt-menu .lnk-menu:hover span.bar3 {
        top: 18px;
        -webkit-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -o-transform: rotate(-50deg);
        transform: rotate(-50deg); }
    header .cnt-menu .lnk-menu-ativo {
      display: block;
      overflow: hidden;
      position: relative;
      width: 24px;
      height: 50px;
      cursor: pointer; }
      header .cnt-menu .lnk-menu-ativo span.bar1 {
        display: block;
        position: absolute;
        top: 18px;
        width: 24px;
        height: 4px;
        background: #fff;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        -webkit-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -o-transform: rotate(50deg);
        transform: rotate(50deg); }
      header .cnt-menu .lnk-menu-ativo span.bar2 {
        display: block;
        position: absolute;
        top: 18px;
        width: 24px;
        height: 4px;
        background: #fff;
        opacity: 0;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease; }
      header .cnt-menu .lnk-menu-ativo span.bar3 {
        display: block;
        position: absolute;
        top: 18px;
        width: 24px;
        height: 4px;
        background: #fff;
        -webkit-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -o-transform: rotate(-50deg);
        transform: rotate(-50deg);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
  header .cnt-logo {
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }

.section-destaque-temp-1 {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 261px;
  margin-top: 132px; }
  .section-destaque-temp-1 .news-destaque {
    display: block;
    position: relative; }
    .section-destaque-temp-1 .news-destaque .cnt-shadow {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 464px;
      height: 100%;
      background: black;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ); }
    .section-destaque-temp-1 .news-destaque .cnt-texto {
      display: block;
      position: absolute;
      bottom: 0;
      padding: 20px 25px 20px 25px;
      text-decoration: none; }
      .section-destaque-temp-1 .news-destaque .cnt-texto h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        display: block;
        margin: 0;
        padding: 0; }
      .section-destaque-temp-1 .news-destaque .cnt-texto h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 5px 0;
        font-size: 21px; }
      .section-destaque-temp-1 .news-destaque .cnt-texto p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #fff;
        line-height: 20px;
        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 0; }
      .section-destaque-temp-1 .news-destaque .cnt-texto:hover {
        color: #fff;
        text-decoration: underline; }
    .section-destaque-temp-1 .news-destaque .cnt-share {
      display: block;
      position: absolute;
      top: 20px;
      right: 25px; }

.section-destaque-temp-2 {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 216px;
  margin-top: 32px; }
  .section-destaque-temp-2 hr {
    display: none; }
  .section-destaque-temp-2 .news-destaque {
    display: block;
    position: relative;
    text-decoration: none; }
    .section-destaque-temp-2 .news-destaque:hover {
      text-decoration: underline;
      color: #000; }
  .section-destaque-temp-2 .cnt-imagem {
    display: block;
    float: left; }
  .section-destaque-temp-2 .cnt-texto {
    display: block;
    float: left;
    position: relative;
    width: 232px;
    height: 216px;
    padding: 10px 0 0 16px; }
    .section-destaque-temp-2 .cnt-texto .lnk-destaque {
      display: block;
      text-decoration: none; }
      .section-destaque-temp-2 .cnt-texto .lnk-destaque:hover {
        text-decoration: underline;
        color: #000; }
    .section-destaque-temp-2 .cnt-texto h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      color: #004861;
      font-weight: bold;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      display: block;
      margin: 0;
      padding: 0; }
    .section-destaque-temp-2 .cnt-texto h3 {
      font-family: Arial, Helvetica, sans-serif;
      color: #000;
      font-weight: bold;
      text-rendering: optimizeLegibility;
      margin: 0;
      padding: 5px 0;
      font-size: 17px; }
    .section-destaque-temp-2 .cnt-texto p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #000;
      line-height: 20px;
      text-rendering: optimizeLegibility;
      margin: 0;
      padding: 0; }
    .section-destaque-temp-2 .cnt-texto .cnt-share {
      display: block;
      position: absolute;
      left: 16px;
      bottom: 0; }

.section-destaque-temp-3 {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 260px;
  margin-top: 32px; }
  .section-destaque-temp-3 hr {
    display: none; }
  .section-destaque-temp-3 .cnt-news {
    display: block;
    position: relative;
    overflow: hidden;
    height: 260px; }
    .section-destaque-temp-3 .cnt-news .cnt-imagem {
      display: block;
      margin-bottom: 10px; }
    .section-destaque-temp-3 .cnt-news .cnt-texto {
      display: block; }
      .section-destaque-temp-3 .cnt-news .cnt-texto a {
        text-decoration: none; }
      .section-destaque-temp-3 .cnt-news .cnt-texto h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #004861;
        font-weight: bold;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        display: block;
        margin: 0;
        padding: 0; }
      .section-destaque-temp-3 .cnt-news .cnt-texto h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 5px 0;
        font-size: 17px; }
      .section-destaque-temp-3 .cnt-news .cnt-texto p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #000;
        line-height: 20px;
        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 0; }
    .section-destaque-temp-3 .cnt-news .cnt-share {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 20px; }

.section-advertising {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 148px;
  margin-top: 32px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eee;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .section-advertising .show-desktop {
    display: block; }
  .section-advertising .show-mobile {
    display: none; }

.section-segmentos {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 260px;
  margin-top: 32px; }
  .section-segmentos hr {
    display: none; }
  .section-segmentos h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #004861;
    font-weight: bold;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-size: 24px; }
  .section-segmentos .cnt-news {
    display: block;
    position: relative;
    overflow: hidden;
    height: 260px;
    margin-bottom: 20px; }
    .section-segmentos .cnt-news .cnt-imagem {
      display: block;
      margin-bottom: 10px; }
    .section-segmentos .cnt-news .cnt-texto {
      display: block; }
      .section-segmentos .cnt-news .cnt-texto a {
        text-decoration: none; }
      .section-segmentos .cnt-news .cnt-texto h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #004861;
        font-weight: bold;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        display: block;
        margin: 0;
        padding: 0; }
      .section-segmentos .cnt-news .cnt-texto h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 5px 0;
        font-size: 17px; }
      .section-segmentos .cnt-news .cnt-texto p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #000;
        line-height: 20px;
        text-rendering: optimizeLegibility;
        margin: 0;
        padding: 0; }
    .section-segmentos .cnt-news .cnt-share {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 20px; }
  .section-segmentos .cnt-lnk-mais {
    display: block;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: right;
    padding: 8px 0; }
    .section-segmentos .cnt-lnk-mais .lnk-mais {
      font-family: Arial, Helvetica, sans-serif;
      color: #004861;
      font-weight: bold;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-size: 18px; }

footer {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 81px;
  background: #d5e11f; }
  footer img {
    margin-top: 30px; }
  footer .copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-align: right;
    margin-top: 30px; }

.submenu {
  display: block;
  position: fixed;
  overflow: hidden;
  top: 100px;
  background: #004861;
  width: 100%; }
  .submenu .cnt-submenu {
    overflow: hidden;
    height: 1px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .submenu .cnt-submenu a.lnk-submenu {
      display: block;
      width: 20%;
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding: 10px 0;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto; }
      .submenu .cnt-submenu a.lnk-submenu:hover {
        color: #d5e11f;
        border-bottom: 1px solid #d5e11f; }
  .submenu .ativo {
    height: 200px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .submenu .ativo a.lnk-submenu {
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      font-size: 14px;
      text-align: center;
      animation-name: hello;
      animation-duration: 0.5s;
      animation-iteration-count: 1; }
@keyframes hello {
  0% {
    margin-top: -50px;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  100% {
    margin-top: 10px;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; } }

/*# sourceMappingURL=main.css.map */
